@model Inlämning1.WebUI.Models.ViewModels.CustomerAccountViewModel

<table>
    <tr>
        <td>CustomerId</td>
        <td>CustomerName</td>
        <td>AccountId</td>
        <td>Balance</td>
    </tr>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@customer.CustomerID</td>
            <td>@customer.CustomerName</td>
            @foreach (var account in Model.Accounts)
            {
                if (customer.CustomerID == account.CustomerID)
                {
                    <td>@account.AccountID</td>
                    <td>@account.Balance</td>
                }
            }
        </tr>
    }
</table>
